.Weather {
  border: 1px solid #dadde1;
  border-radius: 4px;
  color: #878787;
  font-family: arial, sans-serif;
  padding: 16px;
}

.Weather h2 {
  font-size: 24px;
  font-weight: 400;
  margin: 0;
  padding-top: 20px;
}

.Weather li {
  font-size: 12px;
  list-style: none;
  list-style-position: initial;
}

.Weather ul {
  list-style: none;
  padding: 0;
}

.Weather img {
  margin-right: 10px;
  display: inline-block;
  height: 60px;
  vertical-align: top;
  width: 64px;
}

.Weather .temperature {
  color: black;
  font-size: 64px;
  font-weight: 400;
  line-height: 64px;
}

.Weather .units {
  display: inline-block;
  font-size: 16px;
  line-height: 1;
  margin: 6px 0px 0px 3px;
  vertical-align: top;
}

.spinner {
  display: flex;
  padding: 50px;
  justify-content: center;
}
